ion-content {
  --background: #f4f5f8; /* Color de fondo del contenido */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-item {
  margin-bottom: 16px;
  border-radius: 8px;
}

ion-label {
  font-weight: bold;
}

ion-button {
  --background: #3880ff; /* Color de fondo del botón */
  --color: #fff;         /* Color del texto del botón */
}


  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre el logo y el formulario */
  }

  ion-img {
    width: 180px; /* Ajusta el tamaño del logo según necesites */
    height: auto;
  }


   .custom-alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
  }
